@import url(../../variables.css);

.board {
  display: grid;
  grid-template-columns: repeat(5, 6rem);
  grid-template-rows: repeat(6, 6rem);

  justify-content: center;
  align-items: center;

  gap: 1rem;

  margin-bottom: 6rem;
}

/* 750px */
@media screen and (min-width: 46.875em) {
  .board {
    grid-template-columns: repeat(5, 12.5rem);
    grid-template-rows: repeat(6, 12.5rem);

    gap: 2.4rem;

    margin-bottom: 12rem;
  }
}

/* 350px */
@media screen and (max-width: 21.875em) {
  .board {
    grid-template-columns: repeat(5, 4.2rem);
    grid-template-rows: repeat(6, 4.2rem);
  }
}
