@import url(../../variables.css);

.difficulty {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5rem 10%;
}

.box {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);

  justify-content: center;
  align-items: center;
  row-gap: 4.8rem;
}

.col {
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 1.6rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  font-size: 2.4rem;
  font-weight: 800;

  line-height: 130%;

  color: var(--color-text);
}

.text {
  font-size: 1.6rem;

  color: var(--color-text);
}

/* 750px */
@media screen and (min-width: 46.875em) {
  /* ----- SECTION ----- */
  .difficulty {
    padding: 5rem 5%;
  }

  .box {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    justify-content: center;
    align-items: center;
    row-gap: 0;
    column-gap: 8.4rem;
  }

  .col {
    max-width: 62.4rem;
    height: 23rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .col:nth-of-type(1) {
    justify-self: flex-end;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .heading {
    font-size: 3.2rem;
    font-weight: 800;

    line-height: 130%;

    color: var(--color-text);
  }

  .text {
    font-size: 1.6rem;

    line-height: 150%;

    color: var(--color-text);
  }
}

/* 1100px */
@media screen and (min-width: 68.75em) {
  .box {
    column-gap: 3.2rem;
  }
}
