@import url(../variables.css);

.btn {
  height: 3.2rem;
  width: max-content;

  padding: 0;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  background: transparent;
  border: none;

  cursor: pointer;
}

.btnText {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-text);
}

.btnIcon {
  height: 2rem;
  font-weight: 500;
  stroke: var(--color-text);

  transition: all 0.5s;
}

.btn:hover .btnIcon {
  transform: rotate(-360deg);
}

/* --------------- */
/* CLOSE BUTTON */
.close {
  cursor: pointer;

  position: relative;

  width: 3.5rem;
  height: 3.5rem;

  margin-right: 2.6rem;

  background-color: transparent;

  border: none;

  transition: transform 0.25s ease-in-out;
}

.close::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(-45deg);

  width: 100%;
  height: 0.2rem;

  background-color: var(--color-text);
}

.close::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg);

  width: 100%;
  height: 0.2rem;

  background-color: var(--color-text);
}

.close:hover {
  transform: rotate(180deg);
}

.close:active {
  transform: scale(0.8) rotate(180deg) translateY(10%);
}

/* ------------------ */
/* LATER ON POPUP */

.later {
  cursor: pointer;

  font-size: 1.4rem;
  font-weight: 300;

  text-align: center;

  color: var(--color-text);

  background: none;
  border: none;
}

.later:hover {
  text-decoration: underline;
}

/* ----------------- */
/* Hamburger menu */

.hamburger {
  position: relative;

  width: 2.5rem;
  height: 2rem;

  background-color: transparent;

  display: flex;
  align-items: center;

  padding: 0;

  border: none;

  justify-self: end;
}

.hamburger span {
  width: 100%;
  height: 0.2rem;

  background-color: var(--color-text);

  transition: all 0.5s ease-out;
}

.hamburger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 0.2rem;

  background-color: var(--color-text);

  transition: all 0.5s ease-out;
}

.hamburger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 0.2rem;

  background-color: var(--color-text);

  transition: all 0.5s ease-out;
}

:global(.hamburgerOpen) span {
  transform: scale(0);
}

:global(.hamburgerOpen)::before {
  top: 50%;
  transform: rotate(45deg);
}

:global(.hamburgerOpen)::after {
  top: 50%;
  transform: rotate(-45deg);
}

/* 750px */
@media screen and (min-width: 46.875em) {
  /* hide it */
  .hamburger {
    visibility: hidden;
    position: absolute;
  }
}
