@import url(../variables.css);

.footer {
  position: relative;

  height: 20rem;

  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: 1fr;

  justify-content: space-around;
  align-items: center;
}

.copyright {
  color: var(--color-text);
  font-size: 1.6rem;
}
