@import url(../variables.css);

.informations {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);

  justify-content: center;
  align-items: center;

  text-align: center;

  row-gap: 1.8rem;

  padding: 4rem 5%;

  padding-top: 6rem;
}

.time {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 130%;

  color: var(--color-text);

  text-shadow: var(--shadow-small);
}

.scores {
  display: grid;
  grid-template-columns: repeat(2, max-content);

  justify-content: center;
  align-items: center;

  column-gap: 6rem;
}

.scores p {
  width: max-content;

  font-size: 1.8rem;
  font-weight: 500;
  line-height: 130%;

  color: var(--color-text);
}

/* 750px */
@media screen and (min-width: 46.875em) {
  .informations {
    row-gap: 2.4rem;

    padding-top: 12rem;
    padding-bottom: 7.2rem;
  }

  .time {
    font-size: 5.6rem;
  }

  .scores p {
    font-size: 3.2rem;
  }
}

/* 350px */
@media screen and (max-width: 21.875em) {
  .time {
    font-size: 2.4rem;
  }

  .scores p {
    font-size: 1.4rem;
  }
}
