@import url(../variables.css);

* {
  z-index: 1;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  height: 30rem;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
