@import url(../variables.css);

.circleBig {
  height: 160rem;
  width: 160rem;

  position: absolute;
  top: 0;
  right: -40rem;

  transform: translateX(50%) translateY(-50%);

  filter: blur(300px);

  border-radius: 50%;

  background-color: var(--color-primary);

  z-index: -1;
}

.circleSmall {
  position: absolute;
  bottom: 2.5%;
  left: 50%;

  transform: translateX(-50%) translateY(50%);

  filter: blur(200px);

  height: 60rem;
  width: 60rem;
  border-radius: 50%;

  background-color: var(--color-primary);

  z-index: -1;
}

.rect {
  position: absolute;
  top: 85rem;
  left: -20rem;

  transform: rotate(16deg);
  transform: translateX() translateY();

  filter: blur(200px);

  height: 45rem;
  width: 45rem;
  border-radius: 25px;

  background-color: var(--color-primary);

  z-index: -1;
}

/* 750px */
@media screen and (min-width: 46.875em) {
  .circleBig {
    right: 0;

    height: 200rem;
    width: 200rem;
  }

  .circleSmall {
    bottom: -30%;

    filter: blur(300px);

    height: 140rem;
    width: 140rem;
  }

  .rect {
    position: absolute;
    top: 60rem;
    left: 0;

    transform: rotate(16deg);
    transform: translateX() translateY();

    filter: blur(300px);

    height: 45rem;
    width: 45rem;
    border-radius: 25px;

    background-color: var(--color-primary);

    z-index: -1;
  }

  .circlePopUp {
    position: absolute;
    top: 0%;
    right: 0%;

    transform: translateX(50%) translateY(-50%);

    filter: blur(200px);

    height: 100rem;
    width: 100rem;
    border-radius: 50%;

    background-color: var(--color-primary);

    z-index: -1;
  }
}
