@import url(../variables.css);

.points {
  position: relative;

  height: 147.5rem;
  max-height: 147.5rem;

  padding: 6.4rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4.8rem;
}

.background {
  width: 100%;

  position: absolute;
  top: 55%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  z-index: 0;
}

@media screen and (min-width: 90em) {
  .points {
    height: 86.5rem;
    max-height: 86.5rem;

    padding: 11.2rem 6.4rem;

    gap: 8rem;
  }
}
