@import url(../variables.css);

.points {
  position: relative;

  max-height: 86.5rem;
  height: 86.5rem;

  padding: 11.2rem 6.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.background {
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  z-index: 0;
}
