@import url(../variables.css);

.actions {
  width: 100%;

  margin: 1rem 0;

  display: grid;
  grid-template-rows: repeat(2, 1fr);

  justify-content: center;
  align-items: center;

  row-gap: 1rem;
}

.heading {
  font-size: 2.8rem;
  font-weight: 600;

  line-height: 130%;
  color: var(--color-text);
  text-align: center;
}

.buttons {
  display: flex;

  justify-content: center;

  gap: 6rem;
}

.btn {
  padding: 2.4rem 1.6rem;

  background-color: var(--color-text-hover);

  border: 2px solid var(--color-text);
  border-radius: 1rem;

  transition: transform 0.5s;

  box-shadow: var(--shadow-small);
}

.btn p {
  color: var(--color-background);
}
.btn svg {
  stroke: var(--color-background);
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1) translateY(0.25rem);
}

:global(.single) {
  grid-template-rows: 1fr;
}

/* 750px */
@media screen and (min-width: 46.875) {
  .actions {
    row-gap: 2rem;
    margin: 1.3rem 0;
  }

  .heading {
    font-size: 4rem;
  }

  .buttons {
    gap: 8rem;
  }
}

@media screen and (max-width: 21.875em) {
  .buttons {
    gap: 5%;
  }
}
