@import url(../variables.css);

.socials {
  width: 60%;

  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2.4rem;
}

.socials > * {
  transition: all 0.5s;
}

.socials > *:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 50em) {
  .socials {
    column-gap: 0.5rem;
  }
  .socials a {
    justify-self: center;
  }

  .socials > *:hover {
    transform: scale(1.25);
  }
}
