@import url(../variables.css);

.socials {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  justify-content: space-between;
}

.socials a {
  display: flex;
  justify-content: center;
}

.socials > * {
  transition: all 0.5s;
}

.socials > *:hover {
  transform: scale(1.5);
}

/* 750px */
@media screen and (max-width: 46.875em) {
  .socials {
    width: 60%;

    margin: 0 auto;

    column-gap: 0.5rem;
  }
  .socials a {
    justify-self: center;
  }

  .socials > *:hover {
    transform: scale(1.25);
  }
}
