:root {
  --color-text: #653945;
  --color-text-light: #ca728a;
  --color-text-light--2: #975567;

  --color-text-hover: #975567;

  --color-navlink-bg: #fc8eac;

  --color-primary: #fda5bd;

  --color-secondary: ;

  /* ***** SHADOWS ***** */
  --shadow-small: 0.2rem 0.2rem 0.5rem rgba(101, 57, 69, 0.2);
}
